:root {
    --color-button-primary: #176cd3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentLog {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    margin-top: 25px;
    width: 200px;
}

.imgContainer>img,
.formStyle {
    width: 100%;
}

.formStyle {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.formStyle>label {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.buttonSubmit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px blue solid;
    margin: 10px 0;
    cursor: pointer;
    background-color: var(--color-button-primary);
    font-weight: 700;
}

button {
    padding: 7px 10px;
    border: 1.5px black solid;
    background-color: var(--color-button-primary);
    cursor: pointer;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.googleButton {
    background-color: #ff0d00;
    color: white;
}

.error {
    color: red;
}